.etheria-uts {
  --bg-primary: #1c1c1c;
  --bg-secondary: #282828;
  --bg-ternary: #535353;

  --text-main: #ffffff;
  --text-muted: #b5b5b5;

  --border-glow: #ffffff;
  --border-shadow: #ffffff64;

  --accent: #fff;
  --accent-red: #d66d6d;

  --input-bg: #121212;

  .theme-light & {
    --bg-primary: #d9b382;
    --bg-secondary: #c49a6c;
    --bg-ternary: #9d7b56;

    --bg-widget: #e6ccab;

    --text-main: #1a1a1a;
    --text-muted: #4a4a4a;

    --border-glow: #2f271c;
    --border-shadow: #2f271c84;

    --accent: #1a1a1a;
    --accent-red: #822f2f;

    --input-bg: #e6ccab;
  }

  --radius-sm: 4px;
  --radius-md: 8px;
  --shadow-thin: 0 0 2px var(--border-glow);
  --gap-md: 10px;
  --gap-sm: 5px;

  .glass-panel {
    margin: 0 5px;
    background-color: var(--bg-secondary);
    box-shadow: var(--shadow-thin);
    border-radius: var(--radius-sm);
  }

  .etheria-tag-input > input,
  .etheria-range > input[type="number"],
  input.etheria-input {
    text-align: center;
    font-size: 1.1rem;
    background-color: var(--input-bg);
    color: var(--text-main);
    border: none;

    &:disabled {
      color: var(--text-muted);
      filter: saturate(0.8);
      opacity: 0.9;
    }
  }

  select {
    &:disabled {
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
    }
  }

  input[type="range"] {
    --range-track-color: var(--input-bg);
    --range-track-border-color: var(--border-shadow);
    --range-thumb-background-color: var(--bg-primary);
    --range-thumb-border-color: var(--border-glow);
  }

  .etheria-tag-input > button,
  button.etheria-button {
    --button-background-color: var(--bg-primary);
    --button-border-color: transparent;
    --button-text-color: var(--text-main);

    --button-hover-background-color: var(--text-main);
    --button-hover-border-color: var(--bg-primary);
    --button-hover-text-color: var(--bg-primary);

    box-shadow: var(--shadow-thin);

    --button-focus-outline-color: var(--border-glow);

    &[disabled] {
      opacity: 0.8;
      --button-background-color: var(--text-main);
      --button-border-color: transparent;
      --button-text-color: var(--bg-primary);
      --button-hover-background-color: var(--button-background-color);
      --button-hover-border-color: var(--button-border-color);
      --button-hover-text-color: var(--button-text-color);
    }
  }

  .etheria-checkboxes input[type="checkbox"],
  input[type="checkbox"].etheria-checkbox,
  input[type="radio"].etheria-radio {
    --checkbox-checked-color: var(--input-bg);
    --checkbox-background-color: var(--input-bg);
    --checkbox-checkmark-color: var(--accent);
    --checkbox-font-weight: bold;
    text-shadow: var(--shadow-thin);
    height: var(--checkbox-size);
    width: var(--checkbox-size);
    margin: 0;
  }

  hr.etheria-hr {
    background-image: none;
    border-top: 1px solid var(--border-glow);
    margin: var(--gap-sm) 0;
    opacity: 0.5;
  }

  .etheria-hr-text {
    display: flex;
    align-items: center;
    text-align: center;
    margin: var(--gap-sm) 0;
    opacity: 0.8;
    gap: var(--gap-sm);

    &::before,
    &::after {
      content: "";
      flex: 1;
      border-bottom: 1px solid var(--border-glow);
      opacity: 0.5;
    }
  }

  a.clickable-anchor {
    display: inline-block;
    transition:
      transform 0.3s ease,
      opacity 0.3s ease;
    cursor: pointer;

    &:hover:not(:disabled) {
      transform: scale(1.1);
    }

    &[disabled] {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  .stat-box {
    padding: var(--gap-sm);
    gap: var(--gap-sm);

    margin: 2px;
    flex-wrap: nowrap;

    i {
      font-size: 1.5rem;
    }

    img.stat-icon {
      height: 2rem;
      flex: 0 0 2rem;
      border-radius: var(--radius-sm);
      box-shadow: var(--shadow-thin);
    }
  }

  .stat-list {
    padding: 3px 10px;

    .stat-row {
      display: grid;
      align-items: center;
      border-bottom: 1px solid #333;
      padding: 3px 0;
      gap: var(--gap-sm);

      &:last-child {
        border-bottom: none;
      }

      & > div {
        text-align: center;
      }

      .mod-value {
        color: var(--text-muted);
      }

      button.etheria-button {
        border-color: transparent;
      }

      .stat-label {
        text-overflow: ellipsis;
        overflow-x: hidden;
        text-align: left;
        color: var(--text-muted);
        font-size: 0.9rem;
      }
    }

    .panel-header {
      text-align: center;
      font-size: 1rem;
      border-bottom: 1px solid var(--border-glow);
      margin-bottom: 5px;
    }
  }

  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.sheet {
    color: var(--text-main);
    --color-scrollbar: var(--bg-ternary);

    .resource-field {
      width: 115px;
      align-items: stretch;
      overflow: hidden;

      .resource-header {
        text-align: center;
        font-size: 0.9rem;
        margin-top: 2px;
        color: var(--text-muted);

        .label-input {
          --input-height: 1.2rem;
          font-size: 0.9rem;
          text-align: center;
          border-bottom: 1px solid var(--border-glow);
          border-radius: 0;
        }
      }

      .resource-inputs {
        align-items: center;
        gap: var(--gap-sm);
        overflow: hidden;

        input {
          text-align: center;
          font-size: 1.3rem;
          border: none;

          &:first-child:not(:last-child) {
            border-radius: 0 var(--radius-sm) 0 0;
          }

          &:last-child:not(:first-child) {
            border-radius: var(--radius-sm) 0 0 0;
          }

          &:only-child {
            border-radius: 0 0 var(--radius-sm) var(--radius-sm);
          }
        }

        input[type="checkbox"],
        input[type="radio"] {
          display: flex;
          align-items: center;
          justify-content: center;
          --checkbox-checked-color: var(--input-bg);
          --checkbox-background-color: var(--input-bg);
          --checkbox-checkmark-color: var(--accent);
          --checkbox-font-weight: bold;
          text-shadow: var(--shadow-thin);
          margin: 0;
        }

        select {
          text-align: center;
          font-size: 1.3rem;
          background-color: var(--input-bg);
          color: var(--text-main);
          border: none;
          width: 100%;
        }
      }
    }

    header.sheet-header {
      padding-top: 1rem;
      align-items: stretch;
      flex-wrap: wrap;
      height: auto;
      gap: var(--gap-md);
      margin-bottom: 10px;
      position: relative;

      .portrait {
        height: 100%;
        flex: 0 0 150px;

        overflow: hidden;
        box-shadow: var(--shadow-thin);
        border-radius: var(--radius-md);

        img.portrait-img {
          cursor: pointer;
          border-radius: var(--radius-md);
          border: none;
          object-fit: cover;
          width: 100%;
          aspect-ratio: 1 / 1;
        }
      }

      .header-fields {
        justify-content: flex-start;
        gap: var(--gap-md);
        container-type: inline-size;

        .name-level-row {
          gap: 10px;

          .input-name {
            --input-height: 3.5rem;
            font-size: 2rem;
            background-color: var(--bg-primary);
            color: var(--text-main);
            box-shadow: var(--shadow-thin);
            border: none;

            &:disabled {
              opacity: 0.8;
            }
          }
        }

        .level-name {
          flex: 0 0 3rem;
          text-align: center;
          flex-direction: column-reverse;
        }

        .resources-fields {
          justify-content: center;
          gap: clamp(5px, 3cqw, 25px);

          > * {
            flex: 0 0 auto;
          }
        }
      }

      .mode-toggler {
        display: flex;
        align-items: center;
        gap: 5px;
        justify-content: center;
        position: absolute;
        top: -9px;
        color: var(--text-main);

        .mode-icon {
          opacity: 0.5;
          font-size: 10px;

          &.active {
            opacity: 1;
            font-size: 12px;
          }
        }

        .toggler {
          font-size: 18px;
        }
      }
    }

    nav.tabs {
      border-color: var(--border-glow);
    }

    .tab-container {
      gap: 10px;
      margin-top: 10px;
    }

    section.tab[data-tab="character"] {
      .tab-container {
        align-items: stretch;
        width: 80%;
        margin: 10px auto;
      }

      .exhaustion-section {
        display: flex;
        align-items: center;
        gap: 5px;

        input {
          flex: 0 0 50px;
        }

        .exhaustion-label {
          font-size: 1rem;
          flex: 1;
        }

        .exhaustion-mod {
          flex: 0 0 40px;
          font-size: 0.85rem;
          color: var(--accent-red);
          font-weight: bold;
        }
      }

      .race-section {
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.03);

          .controls {
            opacity: 1;
          }
        }

        .race-content {
          display: flex;
          align-items: center;
          gap: 5px;
          cursor: pointer;
        }

        .item-portrait {
          cursor: inherit;
          flex: 0 0 50px;
          aspect-ratio: 1;
          background-color: var(--input-bg);
          border-radius: var(--radius-sm);

          i {
            color: var(--text-main);
            font-size: 35px;
            padding: 7.5px;
            opacity: 0.3;
          }
        }

        .race-label {
          cursor: inherit;
          font-size: 1rem;
          flex: 1;
        }

        .controls {
          margin-right: 10px;
          opacity: 0;
          transition: opacity 0.3s ease;
        }
      }

      .defense-stats-section {
        display: flex;
        gap: 10px;
        justify-content: space-evenly;
      }

      .attributes-list {
        .stat-row {
          grid-template-columns:
            minmax(80px, 2fr) minmax(40px, 1fr) minmax(40px, 1fr)
            auto;
        }

        .stat-label {
          font-size: 1.1rem;
        }
      }

      .recovery-section {
        display: flex;
        gap: 10px;
        margin: 0 10px;
        align-items: center;
        justify-content: space-evenly;

        .recover-btn {
          height: auto;
          margin: 2px;
          padding: 5px;
          gap: 5px;

          i {
            font-size: 1.5rem;
          }
        }
      }

      .dice-resources-section {
        display: flex;
        gap: 10px;
        justify-content: space-evenly;

        .roll-box {
          .icon-layer {
            position: relative;
          }

          i.sub-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: scale(0.7) translate(-25%, -25%);
            --fa-primary-color: var(--bg-ternary);
            --fa-secondary-color: var(--accent);
            --fa-secondary-opacity: 1;
          }
        }
      }
    }

    section.tab[data-tab="abilities"] {
      .category-title {
        display: flex;
        padding: 5px;

        .label {
          font-size: 1.2rem;
          line-height: 1.2rem;
          flex: 1;
        }

        .controls {
          flex: 0 0 auto;
          display: flex;
          align-items: center;
          gap: 5px;
        }
      }

      .abilities-items {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 10px;
        padding: 0 10px;
      }

      .ability-card {
        position: relative;
        margin-top: 10px;
        overflow: visible;
        padding: 2px;

        .uses-badge {
          position: absolute;
          top: -5px;
          right: 5px;
          z-index: 1;
          padding: 2px 4px;
          background: var(--bg-ternary);
          color: var(--text-main);
          font-size: 0.9rem;
          font-weight: bold;
          line-height: 0.6rem;
          border: 1px solid var(--border-glow);
          border-radius: var(--radius-sm);
          box-shadow: var(--shadow-thin);
        }

        .card-content {
          display: flex;
          height: 100%;
          padding: 5px;
          overflow: hidden;
          background-color: var(--bg-primary);
        }

        .portait {
          flex: 0 0 70px;
          height: 70px;
          margin: auto;
          overflow: hidden;
          padding: 1px;

          .portait-img {
            cursor: pointer;
            width: 100%;
            height: 100%;
            object-fit: cover;
            background-color: var(--bg-secondary);
            border-radius: var(--radius-sm);
            box-shadow: var(--shadow-thin);
          }
        }

        .details-container {
          flex: 1;
          display: flex;
          flex-direction: column;
          margin-left: 5px;
          min-width: 0;

          .ability-name {
            font-size: 1.2rem;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 2px;
            width: 100%;
          }

          .details-row {
            font-size: 0.85rem;
            color: var(--text-muted);
            line-height: 1.1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            b {
              color: var(--text-main);
              margin-right: 2px;
            }

            > span {
              text-wrap: nowrap;
            }
          }
        }

        .controls {
          display: flex;
          font-size: 0.8rem;
          flex-direction: column;
          align-items: center;
          justify-content: flex-end;
          gap: 5px;
          opacity: 0;
          flex: 0 0 auto;
          transition: 300ms opacity ease;
          margin-right: 3px;
        }

        &:hover .controls {
          opacity: 1;
        }
      }
    }

    section.tab[data-tab="effects"] {
      .stat-list {
        padding: 4px 0 0 0;
        margin: 0 10px;
      }

      .effect {
        display: grid;
        grid-template-columns: 1fr 120px 100px 80px;
        align-items: center;
        gap: 10px;
        padding: 4px 10px;
        transition: background 0.3s ease;

        &:not(.effects-header) {
          background-color: var(--bg-widget);
          margin-bottom: 2px;

          &:hover {
            background-color: var(--bg-primary);
          }
        }
      }

      .effect-list {
        min-height: 1rem;
      }

      .effects-header {
        font-size: 0.9rem;
        border-bottom: 1px solid var(--border-shadow);
        background: none;

        .effect-label {
          font-size: 1rem;
          font-weight: bold;
        }

        > div:not(:last-child) {
          border-right: 1px solid var(--border-shadow);
        }
      }

      .effect-label {
        display: flex;
        align-items: center;
        gap: 8px;
        overflow: hidden;

        img {
          --size: 1.7rem;
          margin: 1px;
          height: var(--size);
          flex: 0 0 var(--size);
          border-radius: var(--radius-sm);
          box-shadow: var(--shadow-thin);
        }

        .effect-name {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .effect-condition {
        display: flex;
        align-items: center;
        font-size: 0.75rem;
        gap: 2px;

        .tag {
          background: var(--bg-secondary);
          text-wrap: nowrap;
          padding: 1px 2px;
          border-radius: 3px;
          border: 1px solid var(--border-shadow);
          display: flex;
          align-items: center;
          gap: 4px;

          i {
            font-size: 0.7rem;
          }
        }
      }

      .effect-source,
      .effect-duration {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .document-controls {
        display: flex;
        justify-content: flex-end;
        gap: 8px;
        font-size: 0.85rem;
      }
    }

    section.tab[data-tab="secondaryStats"] {
      .skills-secttion {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: start;
        gap: 10px;

        .skills-list {
          .stat-row {
            grid-template-columns:
              minmax(50px, 2fr) minmax(30px, 1fr) minmax(30px, 1fr)
              auto;

            input.etheria-input {
              font-size: 1rem;
              height: 1.3rem;
            }

            .mod-value {
              font-size: 0.8rem;
            }

            .controls {
              .etheria-button {
                font-size: 0.7rem;
              }
            }
          }
        }
      }

      .resources-section {
        margin: 5px;
        padding: 10px;
        gap: 5px;

        .resource-row {
          display: grid;
          grid-template-columns: repeat(2, 1fr) 25px;
          align-items: center;
          justify-content: center;
          justify-items: stretch;
          gap: 5px;

          .header-label {
            font-size: 1rem;
            text-align: center;
            border-right: 1px solid var(--border-shadow);
            margin-bottom: 5px;
          }

          input.etheria-input {
            font-size: 1rem;
            height: 1.3rem;
          }

          .controls {
            font-size: 1.1rem;
          }

          &:first-child {
            border-bottom: 1px solid var(--border-shadow);
          }
        }
      }

      .bonus-section {
        display: flex;
        gap: 10px;
        justify-content: space-evenly;
      }
    }

    section.tab[data-tab="resistances"] {
      .resistence-section {
        margin: 5px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--gap-md);

        &.all-section .stat-box {
          grid-column: 2;
        }

        .stat-box {
          .stat-label {
            flex: 1;
          }

          .etheria-input {
            flex: 0 0 3rem;
          }
        }
      }
    }

    section.tab[data-tab="spheres"] {
      .spheres-section {
        margin: 5px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--gap-md);

        .stat-box {
          .stat-label {
            flex: 1;
          }

          .etheria-input {
            flex: 0 0 3rem;
          }
        }
      }
    }

    section.tab[data-tab="notes"] {
      .html-box {
        margin: 5px;
        padding: 10px;

        h4 {
          margin-bottom: 5px;
          border-bottom: 2px solid var(--border-glow);
        }

        prose-mirror {
          --menu-background: var(--bg-primary);

          menu {
            box-shadow: var(--shadow-thin);
          }
        }
      }
    }

    section.tab[data-tab="inventory"] {
      height: 100%;

      .currencies-section {
        display: flex;
        justify-content: flex-end;

        i {
          font-size: 1.1rem;
        }

        .etheria-input {
          font-size: 1rem;
          width: 100px;
        }
      }

      .tab-container {
        height: 100%;
      }

      .stat-list {
        flex: 1 1 0;
        overflow: hidden;
      }

      .inventory-items {
        flex: 1;
        margin-right: 0;
        padding-right: 0;
      }

      .stat-list {
        margin: 0 10px;
        padding: 5px 0;
      }

      .panel-header {
        margin: 2px 10px;

        .label {
          text-align: left;
        }

        .controls {
          flex: 0;
        }
      }

      .stat-row {
        padding: 4px 10px;
        display: grid;
        grid-template-columns: 25px 1fr 80px auto;
        gap: var(--gap-md);
        transition: background 0.2s ease;
        margin-right: -10px;

        .stat-icon {
          width: 25px;
          height: 25px;
        }

        .controls {
          gap: var(--gap-md);
          font-size: 0.8rem;
          padding-right: 10px;
        }

        &:hover {
          background-color: var(--bg-primary);
        }
      }

      [data-section="unequipped"] .toggle-equip i {
        font-weight: 500;
      }
    }

    &.item {
      header.sheet-header {
        .portrait {
          flex: 0 0 165px;
        }

        .header-fields {
          gap: var(--gap-sm);

          .name-level-row .input-name {
            --input-height: 2.5rem;
            font-size: 1.5rem;
          }

          .resources-fields {
            gap: clamp(5px, 2cqw, 15px);

            .resource-field {
              input,
              select {
                height: 1.6rem;
                font-size: 1rem;
              }
            }
          }
        }
      }

      section.tab[data-tab="mechanics"] {
        .spheres-list {
          .panel-header {
            .label {
              text-align: left;
            }
          }

          .etheria-checkboxes {
            margin: 10px 5px;
          }
        }

        .ability-list {
          margin-bottom: 5px;

          .panel-header {
            .label {
              text-align: left;
            }

            .controls {
              flex: 0;
            }
          }

          .damage-items {
            min-height: 1.5rem;

            .stat-row {
              grid-template-columns: minmax(50px, 2fr) minmax(30px, 1fr) auto;

              .formula-input {
                text-align: left;
              }

              input.etheria-input,
              select.etheria-input {
                font-size: 1rem;
                height: 1.5rem;
              }
            }
          }
        }

        .bound-box {
          padding: 5px 10px;
          flex-wrap: wrap;
          background-color: var(--bg-secondary);

          > .etheria-input {
            flex: 1;
          }

          .hint {
            flex: 0 0 100%;
            margin: 0;
            font-size: 0.9rem;
            color: var(--text-muted);
          }
        }

        .cost-section {
          .stat-box {
            padding: 5px 10px;
          }

          .cost-span {
            flex: 0 0 auto;
            font-size: 1rem;
            font-weight: bold;
          }

          .value-input {
            flex: 1;
          }

          .resource-input {
            flex: 2;

            input::-webkit-calendar-picker-indicator {
              display: none !important;
            }
          }
        }

        .bound-abilities-list {
          margin: 5px;
          padding: 5px 0;

          .stat-row {
            padding: 0 15px;
            grid-template-columns: 2rem 1fr auto;
            gap: var(--gap-sm);
            transition: background 0.3s ease;

            &:hover {
              background-color: var(--bg-primary);

              .controls {
                opacity: 1;
              }
            }

            .stat-label {
              font-size: 1.1rem;
            }

            .stat-icon {
              height: 2rem;
              flex: 0 0 2rem;
              border-radius: var(--radius-sm);
              box-shadow: var(--shadow-thin);
            }

            .controls {
              transition: opacity 0.3s ease;
              gap: var(--gap-md);
              opacity: 0;
            }
          }

          .unbounded {
            .stat-label {
              opacity: 0.5;
              text-align: center;
            }
          }
        }

        .etheria-tag-input {
          margin: 5px 10px;

          .tags.input-element-tags {
            display: none;
          }
        }
      }

      section.tab[data-tab="effects"] {
        .effect-label img {
          --size: 2rem;
        }
      }
    }
  }

  &.action-bar {
    --offset: 0;
    transition: transform 0.3s ease-out;
    transform: translateX(var(--offset));
    margin-bottom: 10px;

    > div {
      display: flex;
      gap: 10px;
    }

    button {
      pointer-events: all;
      width: 240px;
      height: 66px;
      background-repeat: no-repeat;
      background-position: center;

      background-size: contain;

      border: none;
      cursor: pointer;
      background-color: transparent;
      transition: all 0.3s ease;
      filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
      opacity: 0.7;

      &:hover {
        filter: brightness(1.05) drop-shadow(0 0 8px gold);
        transform: scale(1.05);
        opacity: 1;
      }

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }

    .ability-button {
      background-image: url("../assets/action-bar/abilities.webp");
    }

    .secondaries-button {
      background-image: url("../assets/action-bar/secondaries.webp");
    }
  }

  &.abilities-dialog {
    .window-content {
      padding: 0.5rem;
    }

    .window-content,
    .categories-container {
      gap: 0.2rem;
    }

    .accordion {
      display: grid;
      grid-template-rows: auto 0fr;
      transition: grid-template-rows 0.3s ease;
      overflow: hidden;

      &.expanded {
        grid-template-rows: auto 1fr;

        .accordion-chevron {
          transform: rotate(90deg);
        }
      }
    }

    .accordion-header {
      display: flex;
      align-items: center;
      padding: 5px 10px;
      margin: 5px;
      gap: 10px;
      cursor: pointer;
      border-radius: var(--radius-sm);

      .label {
        flex: 1;
        font-size: 1.2rem;
        line-height: 1.2rem;
      }

      .accordion-chevron {
        flex: 0;
        font-size: 0.7rem;
        transition: transform 0.3s ease;
      }

      .number-abilities {
        font-size: 0.8rem;
        color: var(--text-muted);
      }
    }

    .accordion-content {
      display: grid;
      grid-template-columns: repeat(2, 150px);
      gap: 5px;
      margin: 0 10px;
      min-height: 0;
      max-height: 200px;
      overflow: hidden;
    }

    .selectable-ability {
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: all 0.2s ease;
      border: 1px solid transparent;

      &.active {
        border-color: var(--accent);
        box-shadow: 0 0 10px var(--accent);
      }

      &:hover {
        box-shadow: 0 0 5px var(--accent);
      }

      .stat-label {
        flex: 1;
        cursor: inherit;
      }
    }

    .form-footer button {
      width: 100%;
      font-size: 1.2rem;
    }
  }

  &.skills-dialog {
    .window-content {
      padding: 0.5rem;

      form.dialog-form {
        height: 100%;
        gap: 0.5rem;

        .dialog-content {
          overflow: hidden;

          .skills-section {
            padding-right: 0;
            margin-right: 0;
            --color-scrollbar: var(--bg-ternary);
          }
        }
      }
    }

    .stat-row {
      grid-template-columns: auto minmax(50px, 1fr) auto;

      > * {
        pointer-events: none;
      }

      &:has(.etheria-checkbox:checked) {
        font-weight: bold;

        .stat-label {
          color: var(--accent) !important;
        }
      }
    }

    .skills-list {
      margin: 10px;
    }
  }

  &.chat-message {
    .message-header {
      border-bottom: 1px solid var(--border-shadow);
    }

    .accordion {
      display: grid;
      grid-template-rows: auto 0fr;
      transition: grid-template-rows 0.3s ease;
      overflow: hidden;
      margin-bottom: 5px;

      &.expanded {
        grid-template-rows: auto 1fr;

        .accordion-header {
          border-color: var(--border-shadow);

          .accordion-chevron {
            transform: rotate(90deg);
          }
        }
      }

      .accordion-header {
        margin: 0 5px;
        cursor: pointer;
        transition: border 0.3s ease;
        border-bottom: 1px solid transparent;
        gap: var(--gap-md);

        .title-container {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: var(--gap-sm);

          .title {
            font-weight: bold;
            font-size: 1rem;
          }

          .number {
            font-size: 0.8rem;
            color: var(--text-muted);
          }
        }

        .refresh-anchor {
          flex: 0;
          height: 14px;
        }

        i.icon {
          font-size: 0.7rem;
          transition: transform 0.3s ease;
          flex: 0;
        }
      }

      .accordion-content {
        min-height: 0;
        overflow: hidden;
        border-bottom: 1px solid var(--border-shadow);
      }
    }

    .list-item {
      gap: var(--gap-sm);
      padding: 2px 5px;

      img {
        flex: 0 0 25px;
        height: 25px;
        margin: 1px;
        border-radius: var(--radius-sm);
        box-shadow: var(--shadow-thin);
        aspect-ratio: 1;
        cursor: pointer;
      }

      .item-label {
        font-size: 1rem;
      }

      .target-controls {
        display: flex;
        gap: var(--gap-sm);
        align-items: center;
        flex: 0 0 auto;
        flex-wrap: nowrap;
        font-size: 1rem;

        .vertical {
          height: 20px;
          border-left: 1px solid var(--border-shadow);
        }
      }

      &:not(:first-child) {
        margin-top: 2px;
      }

      &:hover {
        background-color: var(--bg-widget);
      }
    }

    .item-actions {
      gap: var(--gap-sm);
      margin: 0 1rem;

      .item-action {
        display: flex;
        align-items: center;
        text-wrap: nowrap;
        gap: var(--gap-sm);

        .img-portrait {
          flex: 0 0 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;

          i.icon {
            font-size: 1.1rem;
          }

          img.item-img {
            margin: 1px;
            border-radius: var(--radius-sm);
            box-shadow: var(--shadow-thin);
            aspect-ratio: 1;
          }
        }

        .action-label {
          font-size: 1rem;
        }
      }

      .action-row {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--gap-sm);
        flex-wrap: nowrap;

        .action-anchor {
          flex: 0 0 auto;
          opacity: 0.3;
          transition: opacity 0.3s ease;

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    .etheria-item-card {
      margin: 5px;

      .item-header {
        gap: 5px;

        .img-portrait {
          flex: 0 0 40px;
          height: 40px;
          padding: 2px;
          border-radius: var(--radius-sm);
          box-shadow: var(--shadow-thin);
          border: none;
          object-fit: cover;
        }

        img.item-img {
          aspect-ratio: 1;
          cursor: pointer;
        }

        .item-name {
          font-size: 1rem;
          font-weight: bold;
        }
      }
    }

    .effect-message {
      .item-label .muted {
        color: var(--text-muted);
        font-size: 0.75rem;
      }

      .card-content {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px;
        gap: var(--gap-md);
      }

      .accordion {
        margin: 0 5px;
      }

      .card-header {
        .etheria-hr-text {
          font-size: 1.3rem;
        }
      }

      .effect-box {
        flex: 0 0 35px;
        height: 35px;
        border-radius: var(--radius-sm);
        box-shadow: var(--shadow-thin);
        transition: all 0.5s ease 0.5s;

        &:hover {
          box-shadow: 0 0 5px var(--accent);
          transform: scale(1.1);
        }

        .item-img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }

  &.roll-dialog {
    section.header {
      .formula-preview,
      .total-preview {
        background: var(--input-bg);
        padding: 10px;
        border-radius: 4px;
        font-family: monospace;
        font-size: 1rem;
      }

      .equal-span {
        flex: 0;
        font-size: 1rem;
        color: var(--text-muted);
      }

      .total-preview {
        color: var(--text-main);
        text-align: center;
        flex: 0;
      }

      .formula-preview {
        display: flex;
        gap: 2px;
        text-wrap: nowrap;
        align-items: center;
        justify-content: center;
        padding: 5px;
        overflow-x: auto;
        scrollbar-color: var(--bg-ternary) transparent;
        flex: 1;

        .formula-base {
          color: var(--text-main);
          font-weight: bold;
        }

        .formula-additive {
          color: #4caf50;
        }

        .formula-multiplier {
          color: #2196f3;
        }

        .formula-percentage {
          color: #ff9800;
        }

        .formula-paren {
          color: var(--text-muted);
        }
      }

      .total-preview {
        flex: 0 0 4ch;
        padding: 5px;
        height: 100%;
      }
    }

    .step {
      flex: 1;
    }

    form.modifiers {
      gap: var(--gap-sm);

      .modifiers-container {
        display: flex;
        flex-direction: column;
        gap: var(--gap-md);
        justify-content: stretch;
      }

      .modifiers-panel {
        margin: 0;
        padding: var(--gap-sm);
        display: flex;
        align-items: center;
        gap: var(--gap-sm);

        .stat-label {
          flex: 1;
          font-size: 1rem;
          padding-right: var(--gap-sm);
          text-align: center;
        }

        .etheria-input {
          flex: 2;
          padding: 0 0.2rem;
          height: 1.4rem;
          font-size: 1rem;
        }
      }
    }

    form.dice {
      .dice-terms {
        display: flex;
        gap: var(--gap-md);
        justify-content: stretch;

        .dice-term {
          width: 100%;
          padding: var(--gap-sm);
          display: flex;
          align-items: center;
          gap: var(--gap-sm);

          .dice-formula {
            flex: 1;
            font-size: 1.1rem;
            border-right: 1px solid var(--border-shadow);
            padding-right: var(--gap-sm);
            text-align: center;
          }

          .dice-results {
            flex: 2;
            display: flex;
            flex-wrap: wrap;
            gap: var(--gap-sm);
            justify-content: center;

            .etheria-input {
              padding: 0 0.2rem;
              height: 1.4rem;
              font-size: 1rem;
            }
          }
        }
      }
    }

    footer.form-footer {
      margin-top: 10px;
      padding-top: 10px;
      border-top: 1px solid var(--border-shadow);
      display: flex;
      gap: var(--gap-md);

      button {
        flex: 1;
      }
    }
  }

  &.actions-panel {
    margin-left: -12px;
    width: max-content;

    [data-action] {
      pointer-events: all;
      cursor: pointer;
    }

    .accordion {
      display: grid;
      grid-template-rows: 0fr;
      transition: grid-template-rows 0.3s ease-in-out;
      width: 100%;

      .accordion-content {
        padding-right: 10px;
        overflow: hidden;
        width: 100%;
      }

      &.expanded {
        grid-template-rows: 1fr;
      }
    }

    .expand-toggler-container {
      display: flex;
      align-items: center;
      margin-left: 5px;
      margin-bottom: 10px;
      font-size: 1rem;
      color: #000;
      border-bottom: 2px solid currentColor;
      cursor: pointer;
      pointer-events: all;
      opacity: 0.4;
      transition: opacity 0.3s ease-in-out;

      span {
        font:
          1.5rem "Modesto Condensed",
          "Palatino Linotype",
          serif;
      }

      i.accordion-icon {
        transition: transform 0.3s ease-in-out;
      }

      &.expanded {
        opacity: 1;
        i.accordion-icon {
          transform: rotate(90deg);
        }
      }

      &:hover {
        text-shadow: 0 0 10px var(--accent-red);
        opacity: 1;
      }
    }

    .ui-frame-list {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      .ui-frame-container {
        height: 100px;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;

        &.glow::before {
          pointer-events: all;
          content: "";
          position: absolute;
          top: 22%;
          left: 3%;
          width: 95%;
          height: 57%;
          border-top-right-radius: 25px;
          border-bottom-right-radius: 25px;
          box-shadow: 0px 0px 20px 10px #d66d6d;
        }

        .portrait {
          position: relative;
          flex: 0 0 100px;
          height: 100px;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;

          img.portrait-img {
            width: 75%;
            height: 75%;
            margin-left: 3px;
            object-fit: cover;
            cursor: pointer;
            z-index: 1;
            padding: 10%;

            clip-path: inset(2%);
          }

          &::after {
            content: "";
            position: absolute;
            inset: 0;
            z-index: 5;
            pointer-events: none;
            background-image: url("../assets/actions-panel/portrait_frame.webp");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
          }
        }

        .orbs-list {
          display: flex;
          position: relative;
          align-items: center;
          flex-wrap: nowrap;
          height: 56px;
          gap: 8px;
          margin-left: -10px;
          padding-left: 15px;
          padding-right: 25px;

          z-index: 1;
          &::before {
            content: "";
            position: absolute;
            inset: 0;
            z-index: -1;
            pointer-events: none;
            background-image: url("../assets/actions-panel/orbs-background.webp");
            background-repeat: no-repeat;
            background-position: center left;
            background-size: 100% 100%;
          }
        }
        .orb {
          position: relative;
          width: 56px;
          height: 60px;
          aspect-ratio: 1 / 1;
          flex-shrink: 0;

          border-radius: 50%;
          overflow: hidden;
          cursor: pointer;

          --fluid-level: 0;
          --fluid-color: #2196f3;

          &:hover .orb-content .label {
            opacity: 1;
          }

          &::before {
            content: "";
            position: absolute;
            z-index: -1;
            background: radial-gradient(
              circle,
              rgba(200, 200, 200, 0.1) 0%,
              black 100%
            );
            height: 100%;
            width: 100%;
          }

          &::after {
            content: "";
            position: absolute;
            inset: -3px;
            z-index: 5;
            pointer-events: none;
            background-image: url("../assets/actions-panel/orb_frame.webp");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;
          }

          .orb-content {
            position: absolute;
            inset: 0;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            box-shadow: inset 0 0 20px 1px rgba(0, 0, 0, 0.5);

            .label {
              font:
                1.5rem "Modesto Condensed",
                "Palatino Linotype",
                serif;
              text-shadow: 1px 1px 2px #000;
              opacity: 0;
              transition: opacity 0.3s ease;
            }
          }

          .wave,
          .wave-below {
            position: absolute;
            left: 0;
            pointer-events: none;
            background-color: var(--fluid-color);
            --safe-top: calc(85% - (var(--fluid-level) * 80%) + 10px);
            top: var(--safe-top);
          }

          .wave {
            width: 200%;
            height: 100%;
            margin-top: -15px;

            -webkit-mask: url("../assets/actions-panel/wave.svg") repeat-x;
            mask: url("../assets/actions-panel/wave.svg") repeat-x;
            -webkit-mask-size: 50% 20px;
            mask-size: 50% 20px;

            animation: etheria-uts-move-wave 2s cubic-bezier(0.58, 0.42, 1, 1)
              infinite;
          }

          .wave-below {
            width: 100%;
            height: 150%;
            z-index: -1;
          }
        }

        .tools-contianer {
          position: absolute;
          top: 10px;
          right: -0.2rem;
          font-size: 0.9rem;
          pointer-events: all;
          opacity: 0.5;
          transition: opacity 0.3s ease;
          color: white;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}

@keyframes etheria-uts-move-wave {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
