.etheria-uts {
  --bg-primary: #1c1c1c;
  --bg-secondary: #282828;
  --bg-ternary: #535353;

  --text-main: #ffffff;
  --text-muted: #b5b5b5;

  --border-glow: #ffffff;
  --border-shadow: #ffffff64;

  --accent: #fff;
  --accent-red: #d66d6d;

  --input-bg: #121212;

  .theme-light & {
    --bg-primary: #d9b382;
    --bg-secondary: #c49a6c;
    --bg-ternary: #9d7b56;

    --bg-widget: #e6ccab;

    --text-main: #1a1a1a;
    --text-muted: #4a4a4a;

    --border-glow: #2f271c;
    --border-shadow: #2f271c84;

    --accent: #1a1a1a;
    --accent-red: #822f2f;

    --input-bg: #e6ccab;
  }

  --radius-sm: 4px;
  --radius-md: 8px;
  --shadow-thin: 0 0 2px var(--border-glow);
  --gap-md: 10px;
  --gap-sm: 5px;

  .glass-panel {
    background-color: var(--bg-secondary);
    box-shadow: var(--shadow-thin);
    border-radius: var(--radius-sm);
  }

  input.etheria-input {
    text-align: center;
    font-size: 1.1rem;
    background-color: var(--input-bg);
    color: var(--text-main);
    border: none;
  }

  button.etheria-button {
    --button-background-color: var(--bg-primary);
    --button-border-color: transparent;
    --button-text-color: var(--text-main);

    --button-hover-background-color: var(--text-main);
    --button-hover-border-color: var(--bg-primary);
    --button-hover-text-color: var(--bg-primary);

    box-shadow: var(--shadow-thin);

    --button-focus-outline-color: var(--border-glow);
  }

  input[type=checkbox].etheria-checkbox,
  input[type=radio].etheria-radio {
    --checkbox-checked-color: var(--input-bg);
    --checkbox-background-color: var(--input-bg);
    --checkbox-checkmark-color: var(--accent);
    --checkbox-font-weight: bold;
    text-shadow: var(--shadow-thin);
    height: var(--checkbox-size);
    width: var(--checkbox-size);
    margin: 0;
  }


  hr.etheria-hr {
    background-image: none;
    border-top: 1px solid var(--border-glow);
    margin: var(--gap-sm) 0;
    opacity: 0.5;
  }

  a.clickable-anchor {
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  .stat-box {
    background-color: var(--bg-primary);
    padding: var(--gap-sm);
    gap: var(--gap-sm);

    margin: 2px;
    flex-wrap: nowrap;

    i {
      font-size: 1.5rem;
    }

    img.stat-icon {
      height: 2rem;
      flex: 0 0 2rem;
      border-radius: var(--radius-sm);
      box-shadow: var(--shadow-thin);
    }
  }

  .stat-list {
    padding: 3px 10px;

    .stat-row {
      display: grid;
      align-items: center;
      border-bottom: 1px solid #333;
      padding: 3px 0;
      gap: var(--gap-sm);

      &:last-child {
        border-bottom: none;
      }

      &>div {
        text-align: center;
      }

      .mod-value {
        color: var(--text-muted);
      }

      button.etheria-button {
        border-color: transparent;
      }

      .stat-label {
        text-overflow: ellipsis;
        overflow-x: hidden;
        text-align: left;
        color: var(--text-muted);
        font-size: 0.9rem;
      }
    }

    .panel-header {
      text-align: center;
      font-size: 1rem;
      border-bottom: 1px solid var(--border-glow);
      margin-bottom: 5px;
    }
  }

  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.sheet {
    color: var(--text-main);
    --color-scrollbar: var(--bg-ternary);

    .resource-field {
      width: 120px;
      align-items: stretch;
      overflow: hidden;

      .resource-header {
        text-align: center;
        font-size: 0.9rem;
        margin-top: 2px;
        color: var(--text-muted);
      }

      .resource-inputs {
        align-items: center;
        gap: var(--gap-sm);
        overflow: hidden;

        input {
          text-align: center;
          font-size: 1.3rem;
          background-color: var(--input-bg);
          color: var(--text-main);
          border: none;

          &:first-child:not(:last-child) {
            border-radius: 0 var(--radius-sm) 0 0;
          }

          &:last-child:not(:first-child) {
            border-radius: var(--radius-sm) 0 0 0;
          }

          &:only-child {
            border-radius: 0 0 var(--radius-sm) var(--radius-sm);
          }


        }

        input[type=checkbox],
        input[type=radio] {
          display: flex;
          align-items: center;
          justify-content: center;
          --checkbox-checked-color: var(--input-bg);
          --checkbox-background-color: var(--input-bg);
          --checkbox-checkmark-color: var(--accent);
          --checkbox-font-weight: bold;
          text-shadow: var(--shadow-thin);
          margin: 0;
        }

        select {
          text-align: center;
          font-size: 1.3rem;
          background-color: var(--input-bg);
          color: var(--text-main);
          border: none;
          width: 100%;
        }
      }

    }

    header.sheet-header {
      align-items: stretch;
      flex-wrap: wrap;
      height: auto;
      gap: var(--gap-md);
      margin-bottom: 10px;

      .portrait {
        height: 100%;
        flex: 0 0 150px;

        overflow: hidden;
        padding: 1px;

        img.portrait-img {
          border-radius: var(--radius-md);
          box-shadow: var(--shadow-thin);
          border: none;
          object-fit: cover;
          width: 100%;
          aspect-ratio: 1 / 1;

        }
      }

      .header-fields {
        justify-content: flex-start;
        gap: var(--gap-md);
        container-type: inline-size;

        .name-level-row {
          gap: 10px;

          .input-name {
            --input-height: 3.5rem;
            font-size: 2rem;
            background-color: var(--bg-primary);
            color: var(--text-main);
            box-shadow: var(--shadow-thin);
            border: none;
          }
        }


        .level-name {
          flex: 0 0 3rem;
          text-align: center;
          flex-direction: column-reverse;
        }

        .resources-fields {
          justify-content: center;
          gap: clamp(5px, 3.5cqw, 25px);

          >* {
            flex: 0 0 auto;
          }
        }
      }
    }

    nav.tabs {
      border-color: var(--border-glow);
    }

    section.tab[data-tab="character"] {
      .tab-container {
        align-items: stretch;
        width: 80%;
        margin: auto;
      }

      .exhaustion-section {
        margin: 10px;
        display: flex;
        align-items: center;
        gap: 5px;

        input {
          flex: 0 0 50px;
        }

        .exhaustion-label {
          font-size: 1rem;
          flex: 1;
        }

        .exhaustion-mod {
          flex: 0 0 40px;
          font-size: 0.85rem;
          color: var(--accent-red);
          font-weight: bold;
        }
      }

      .race-section {
        margin: 10px;
        display: flex;
        align-items: center;
        gap: 5px;

        .item-portrait {
          flex: 0 0 50px;
          aspect-ratio: 1;
          background-color: var(--input-bg);
          border-radius: var(--radius-sm);

          i {
            color: var(--text-main);
            font-size: 35px;
            padding: 7.5px;
            opacity: 0.3;
          }
        }

        .race-label {
          font-size: 1rem;
          flex: 1;
        }

      }

      .defense-stats-section {
        display: flex;
        gap: 10px;
        justify-content: space-evenly;
      }

      .attributes-list {
        margin: 10px;

        .stat-row {
          grid-template-columns: minmax(80px, 2fr) minmax(40px, 1fr) minmax(40px, 1fr) auto;
        }

        .stat-label {
          font-size: 1.1rem;
        }
      }

      .recovery-section {
        display: flex;
        gap: 10px;
        margin: 0 10px;
        align-items: center;
        justify-content: space-evenly;

        .recover-btn {
          height: auto;
          margin: 2px;
          padding: 5px;
          gap: 5px;

          i {
            font-size: 1.5rem;
          }
        }

      }

      .dice-resources-section {
        margin: 10px;
        display: flex;
        gap: 10px;
        justify-content: space-evenly;

        .roll-box {
          .icon-layer {
            position: relative;
          }

          i.sub-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: scale(0.7) translate(-25%, -25%);
            --fa-primary-color: var(--bg-ternary);
            --fa-secondary-color: var(--accent);
            --fa-secondary-opacity: 1;
          }
        }
      }
    }

    section.tab[data-tab="effects"] {
      .tab-container {
        margin: 10px;
        gap: 10px; 
        .stat-list {
          padding: 3px 0;
        }
      }

      .effects-header {
        font-size: 0.9rem;
        padding-bottom: 1px;
        border-bottom: 1px solid var(--border-shadow);

        > div:not(:last-child) {
          border-right: 1px solid var(--border-shadow);
          margin-right: 5px;
          margin-bottom: 3px;
        }
      }

      .effect-list {
        min-height: 24px;

        .effect:hover {
          background-color: rgba(0, 0, 0, 0.1) ;
        }
      }

      .effect {
        transition: background 0.3s ease;
        padding-top: 5px;
        padding-left: 10px;
        padding-right: 10px;

        .effect-label {
          flex: 2;
          img {
            border: none;
            flex: 0 0 30px;
            padding-right: 5px;
          }

          .effect-name {
            line-height: 24px;
          }
        }

        .effect-duration {
          flex: 0 0 130px;
        }

        .document-controls {
          font-size: 0.85rem;
          flex: 0 0 60px;
          gap: 5px;
          text-align: end;
        }
      }
    }

    section.tab[data-tab="secondaryStats"] {
      padding-top: 10px;

      .tab-container {
        gap: 10px;
      }

      .skills-secttion {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: start;
        gap: 10px;

        .skills-list {

          .stat-row {
            grid-template-columns: minmax(50px, 2fr) minmax(30px, 1fr) minmax(30px, 1fr) auto;

            input.etheria-input {
              font-size: 1rem;
              height: 1.3rem;
            }

            .mod-value {
              font-size: 0.8rem;
            }
          }

        }
      }

      .resources-section {
        margin: 5px;
        padding: 10px;
        gap: 5px;

        .resource-row {
          display: grid;
          grid-template-columns: repeat(2, 1fr) 25px;
          align-items: center;
          justify-content: center;
          justify-items: stretch;
          gap: 5px;

          .header-label {
            font-size: 1rem;
            text-align: center;
            border-right: 1px solid var(--border-shadow);
            margin-bottom: 5px;

          }

          input.etheria-input {
            font-size: 1rem;
            height: 1.3rem;
          }

          .controls {
            font-size: 1.1rem;
          }

          &:first-child {
            border-bottom: 1px solid var(--border-shadow);
          }
        }
      }

      .bonus-section {
        display: flex;
        gap: 10px;
        justify-content: space-evenly;
      }

    }

    section.tab[data-tab="resistances"] {
      .resistence-section {
        margin: 5px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--gap-md);

        &.all-section .stat-box {
          grid-column: 2;
        }

        .stat-box {
          .stat-label {
            flex: 1;
          }

          .etheria-input {
            flex: 0 0 3rem;
          }
        }
      }
    }

    section.tab[data-tab="spheres"] {
      .spheres-section {
        margin: 5px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--gap-md);

        .stat-box {

          .stat-label {
            flex: 1;
          }

          .etheria-input {
            flex: 0 0 3rem;
          }
        }
      }
    }

    section.tab[data-tab="notes"] {
      .tab-container {
        gap: 10px;
        margin-top: 15px;
      }

      .html-box {
        margin: 5px;
        padding: 10px;

        h4 {
          margin-bottom: 5px;
          border-bottom: 2px solid var(--border-glow);
        }

        prose-mirror {
          --menu-background: var(--bg-primary);

          menu {
            box-shadow: var(--shadow-thin);
          }
        }
      }

    }

    &.item {
      header.sheet-header {
        .portrait {
          flex: 0 0 165px;
        }

        .header-fields {
          gap: var(--gap-sm);

          .name-level-row .input-name {
            --input-height: 2.5rem;
            font-size: 1.5rem;
          }

          .resources-fields {
            gap: clamp(5px, 2.0cqw, 15px);

            .resource-field {

              input,
              select {
                height: 1.6rem;
                font-size: 1rem;
              }
            }
          }
        }
      }
    }
  }
}